
	<!--
	#################################
		- THEMEPUNCH BANNER -
	#################################
	-->
	<div class="tp-banner-container" style="overflow: visible;">
		<div class="tp-banner revslider-initialised tp-simpleresponsive hovered" id="revslider-298" style="max-height: 500px; height: 500px;">
			<ul style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: none;">
				<!-- SLIDE  -->
				<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" style="width: 100%; height: 100%; overflow: hidden; opacity: 1; visibility: visible; left: 0px; top: 0px; position: absolute; z-index: 18;">
					<!-- MAIN IMAGE -->
					<div class="slotholder" style="width:100%;height:100%;"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" data-lazydone="undefined" data-src="/assets/slider/slide1.jpg" style="background-color: rgba(0, 0, 0, 0); background-image: url(http://responsivewebinc.com/premium/flatmania135/theme/img/slider/slide1.jpg); background-size: cover; width: 100%; height: 100%; opacity: 0; background-position: 0% 0%; background-repeat: no-repeat no-repeat;"></div></div>
					<!-- LAYERS -->
					<!-- LAYERS NR. 1 // -->
					<div class="tp-caption lfl largegreenbg br-red start" data-x="50" data-y="140" data-speed="1500" data-start="1200" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Linear.easeNone" data-captionhidden="off" style="font-size: 50px; padding: 0px 20px; margin: 0px; border-width: 0px; line-height: 70px; white-space: nowrap; min-width: 0px; min-height: 0px; visibility: visible; opacity: 0; top: 140px; left: -412px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);">Red Perspective
					</div>	
					<!-- LAYERS NR. 2 -->
					<div class="tp-caption skewfromleft medium_text paragraph start" data-x="50" data-y="240" data-speed="800" data-start="1800" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power4.easeOut" data-captionhidden="off" style="font-size: 20px; padding: 0px; margin: 0px; border-width: 0px; line-height: 30px; white-space: nowrap; min-width: 0px; min-height: 0px; visibility: visible; opacity: 0; top: 240px; left: -460px; -webkit-transform: matrix3d(1, 0, 0, 0, 0.99619, 0.08715, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);">At vero eos et accusamus et iusto<br>odio dignissimos ducimus qui blanditiis<br>praesentium voluptatum deleniti atque corrupti.
					</div>
					<!-- LAYERS NR. 3 // Slide Button -->
					<div class="tp-caption sfb start" data-x="50" data-y="350" data-speed="1500" data-start="2600" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Linear.easeNone" data-captionhidden="off" style="font-size: 17px; padding: 0px; margin: 0px; border-width: 0px; line-height: 24px; white-space: nowrap; min-width: 0px; min-height: 0px; visibility: visible; opacity: 0; top: 400px; left: 249px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);"><a href="#" class="btn btn-info btn-lg btn-circle">Know More <i class="fa fa-angle-right"></i></a>
					</div>
					<!-- LAYERS NR. 1 // Logo Image -->
					<div class="tp-caption skewfromright start" data-x="600" data-y="bottom" data-speed="800" data-start="3600" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power4.easeOut" data-captionhidden="off" style="visibility: visible; opacity: 0; top: 129px; left: 1373px; -webkit-transform: matrix3d(1, 0, 0, 0, -0.99619, 0.08715, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);"><img src="/assets/slider/s21.png" class="img-responsive" alt="" style="width: 300px; height: 371px;">
					</div>
				</li>
				<!-- SLIDE  -->
				<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500" style="width: 100%; height: 100%; overflow: hidden; opacity: 1; visibility: visible; left: 0px; top: 0px; position: absolute; z-index: 18;">
					<!-- MAIN IMAGE -->
					<div class="slotholder" style="width:100%;height:100%;"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" data-lazydone="undefined" data-src="/assets/slider/slide2.jpg" style="background-color: rgba(0, 0, 0, 0); background-image: url(http://responsivewebinc.com/premium/flatmania135/theme/img/slider/slide2.jpg); background-size: cover; width: 100%; height: 100%; opacity: 0; background-position: 0% 0%; background-repeat: no-repeat no-repeat;"></div></div>
					<!-- LAYERS -->
					<!-- LAYERS NR. 1 // Logo Image -->
					<div class="tp-caption lfl start" data-x="130" data-y="center" data-speed="1500" data-start="1200" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Linear.easeNone" data-captionhidden="off" style="visibility: visible; opacity: 0; top: 115px; left: -285px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);"><img src="/assets/slider/logo.png" class="img-responsive" alt="" style="width: 270px; height: 270px;">
					</div>
					<!-- LAYERS NR. 2 -->
					<div class="tp-caption lfr thinheadline_dark start" data-x="500" data-y="120" data-speed="1500" data-start="2000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Linear.easeNone" data-captionhidden="off" style="font-size: 30px; padding: 0px; margin: 0px; border-width: 0px; line-height: 30px; white-space: nowrap; min-width: 0px; min-height: 0px; visibility: visible; opacity: 0; top: 120px; left: 1373px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);">Welcome To
					</div>
					<!-- LAYERS NR. 2.1 -->
					<div class="tp-caption lfr very_large_text start" data-x="500" data-y="150" data-speed="1500" data-start="2300" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Linear.easeNone" data-captionhidden="off" style="font-size: 60px; padding: 0px; margin: 0px; border-width: 0px; line-height: 60px; white-space: nowrap; min-width: 0px; min-height: 0px; visibility: visible; opacity: 0; top: 150px; left: 1373px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);">FlatMania
					</div>
					<!-- LAYERS NR. 3 -->
					<div class="tp-caption lfr medium_text paragraph start" data-x="500" data-y="220" data-speed="1500" data-start="3000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Linear.easeNone" data-captionhidden="off" style="font-size: 20px; padding: 0px; margin: 0px; border-width: 0px; line-height: 30px; white-space: nowrap; min-width: 0px; min-height: 0px; visibility: visible; opacity: 0; top: 220px; left: 1373px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);">The Boxes Style Theme
					</div>
					<!-- LAYERS NR. 4 // Slide Button -->
					<div class="tp-caption lfr medium_text paragraph start" data-x="500" data-y="250" data-speed="1500" data-start="3400" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Linear.easeNone" data-captionhidden="off" style="font-size: 20px; padding: 0px; margin: 0px; border-width: 0px; line-height: 30px; white-space: nowrap; min-width: 0px; min-height: 0px; visibility: visible; opacity: 0; top: 250px; left: 1373px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);">You can customize the CSS <br>of your webpage.
					</div>
					<!-- LAYERS NR. 4.1 // Slide Button -->
					<div class="tp-caption sfb start" data-x="500" data-y="325" data-speed="1500" data-start="4200" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Linear.easeNone" data-captionhidden="off" style="font-size: 17px; padding: 0px; margin: 0px; border-width: 0px; line-height: 24px; white-space: nowrap; min-width: 0px; min-height: 0px; visibility: visible; opacity: 0; top: 375px; left: 699px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);"><a href="#" class="btn btn-info btn-lg btn-circle">Download Now <i class="fa fa-angle-right"></i></a>
					</div>
				</li>
				<!-- SLIDE  -->
				<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; opacity: 1; position: absolute; z-index: 20;">
					<!-- MAIN IMAGE -->
					<div class="slotholder" style="width:100%;height:100%;"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" data-lazydone="undefined" data-src="/assets/slider/slide3.jpg" style="background-color: rgba(0, 0, 0, 0); background-image: url(/assets/nyair.jpg); background-size: cover; width: 100%; height: 100%; opacity: 1; background-position: 0% 0%; background-repeat: no-repeat no-repeat;"></div></div>
					<!-- LAYERS NR. 1 -->
					<!-- <div class="tp-caption lfl start" data-x="100" data-y="130" data-speed="800" data-start="1500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Linear.easeNone" data-captionhidden="off" style="visibility: visible; opacity: 1; top: 130px; left: 299px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);"><img src="/assets/slider/s31.png" class="img-responsive" alt="" style="width: 400px; height: 312px;">
					</div> -->
					
					<!-- LAYERS NR. 2 -->
					<!-- <div class="tp-caption lfl start" data-x="0" data-y="252" data-speed="800" data-start="2100" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Linear.easeNone" data-captionhidden="off" style="visibility: visible; opacity: 1; top: 252px; left: 199px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);"><img src="/assets/slider/s32.png" class="img-responsive" alt="" style="width: 325px; height: 190px;">
					</div> -->
					<!-- LAYERS NR. 3 -->
					<!-- <div class="tp-caption lfl start" data-x="350" data-y="290" data-speed="800" data-start="2700" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Linear.easeNone" data-captionhidden="off" style="visibility: visible; opacity: 1; top: 290px; left: 549px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);"><img src="/assets/slider/s33.png" class="img-responsive" alt="" style="width: 192px; height: 150px;"> 
					</div> -->
					<!-- LAYERS NR. 4 -->
					<!-- <div class="tp-caption lfl start" data-x="250" data-y="309" data-speed="800" data-start="3300" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Linear.easeNone" data-captionhidden="off" style="visibility: visible; opacity: 1; top: 309px; left: 449px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);"><img src="/assets/slider/s34.png" class="img-responsive" alt="" style="width: 65px; height: 130px;">
					</div> -->
					<!-- LAYERS NR. 5 // -->
					<div class="tp-caption lfr largegreenbg br-orange start" data-x="right" data-hoffset="-10" data-y="140" data-speed="1500" data-start="4000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Linear.easeNone" data-captionhidden="off" style="font-size: 50px; padding: 0px 20px; margin: 0px; border-width: 0px; line-height: 70px; white-space: nowrap; min-width: 0px; min-height: 0px; visibility: visible; opacity: 1; top: 140px; left: 768px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);">NYC Startups
					</div>	
					<!-- LAYERS NR. 6 // -->
					<div class="tp-caption lfr modern_big_redbg br-green start" data-x="right" data-hoffset="-10" data-y="220" data-speed="1500" data-start="4300" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Linear.easeNone" data-captionhidden="off" style="font-size: 30px; padding: 1px 10px 3px; margin: 0px; border-width: 0px; line-height: 36px; white-space: nowrap; min-width: 0px; min-height: 0px; visibility: visible; opacity: 1; top: 220px; left: 1017px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);">Business &amp; Tech 
					</div>	
					<!-- LAYERS NR. 7 // -->
					<div class="tp-caption lfr modern_big_redbg br-yellow start" data-x="right" data-hoffset="-10" data-y="270" data-speed="1500" data-start="4600" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Linear.easeNone" data-captionhidden="off" style="font-size: 30px; padding: 1px 10px 3px; margin: 0px; border-width: 0px; line-height: 36px; white-space: nowrap; min-width: 0px; min-height: 0px; visibility: visible; opacity: 1; top: 270px; left: 914px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);">Conversations
					</div>
					<!-- LAYERS NR. 8 // -->
					<div class="tp-caption lfr modern_big_redbg br-blue start" data-x="right" data-hoffset="-10" data-y="320" data-speed="1500" data-start="4900" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Linear.easeNone" data-captionhidden="off" style="font-size: 30px; padding: 1px 10px 3px; margin: 0px; border-width: 0px; line-height: 36px; white-space: nowrap; min-width: 0px; min-height: 0px; visibility: visible; opacity: 1; top: 320px; left: 855px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);">New Ideas
					</div>
					<!-- LAYERS NR. 9 // -->
					<div class="tp-caption lfr modern_big_redbg br-purple start" data-x="right" data-hoffset="-10" data-y="370" data-speed="1500" data-start="5200" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Linear.easeNone" data-captionhidden="off" style="font-size: 30px; padding: 1px 10px 3px; margin: 0px; border-width: 0px; line-height: 36px; white-space: nowrap; min-width: 0px; min-height: 0px; visibility: visible; opacity: 1; top: 370px; left: 941px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);">Venture Capital
					</div>
				</li>
				
			</ul>
		<div class="tp-loader" style="display: none;"></div><div class="tp-bannertimer" style="visibility: hidden; width: 40.730337078651694%;"></div></div>
	<!-- <div style="position: absolute; margin-top: -20px; left: 20px; top: 250px;" class="tp-leftarrow tparrows default"></div><div style="position: absolute; margin-top: -20px; right: 20px; top: 250px;" class="tp-rightarrow tparrows default"></div></div> -->
</div>

<!-- Slider End -->

<!-- Box Wrapper -->
<div class="box-wrapper">
	<!-- <div class="container"> -->
		<!-- Box First Row -->
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6">
						<!-- Box Outer Layer [ Box 1 ] -->
						<div class="box box-md br-green animated animation fadeInUp">
							<!-- Box Hover Effect -->
							<div class="box-hover box-hover-black">
								<!-- Hover Icon -->
								<span class="hover-icon">GO</span>
							</div>
							<!-- Box Link -->
							<a href="aboutus.html">
								<!-- Box Link Content -->
								<div class="box-content navigation">
									<!-- Box Icon -->
									<i class="fa fa-user"></i>
									<!-- Box Title -->
									<span class="box-title">About Us</span>
								</div>
							</a>
						</div>	
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<!-- Box Outer Layer [ Box 2 ] -->
						<div class="box box-md br-yellow animated animation fadeInUp">
							<!-- Box Hover Effect -->
							<div class="box-hover box-hover-black">
								<!-- Hover Icon -->
								<span class="hover-icon">GO</span>
							</div>
							<!-- Box Link -->
							<a href="/gallery.html.erb">
								<!-- Box Link Content -->
								<div class="box-content navigation">
									<!-- Box Icon -->
									<i class="fa fa-book"></i>
									<!-- Box Title -->
									<span class="box-title">All Episodes</span>
								</div>
							</a>
						</div>	
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<!-- Box Outer Layer [ Box 3 ] -->
				<div class="box box-lg br-red animated animation fadeInUp">
					<div class="box-content box-service box-default">
						<!-- Heading -->
						<h4><i class="fa fa-trophy"></i> Develops Serve</h4>
						<!-- Paragraph -->
						<p>Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
						<!-- Box Service List -->
						<ul class="list-unstyled">
							<li><i class="fa fa-check-square-o"></i> Php Project</li>
							<li><i class="fa fa-check-square-o"></i> Network Maintenance</li>
							<li><i class="fa fa-check-square-o"></i> HTML5 Websites</li>
							<li><i class="fa fa-check-square-o"></i> CSS3 Version Support</li>
							<li><i class="fa fa-check-square-o"></i> JQuery Technology</li>
						</ul>
						<!-- View Button -->
						<div class="view-button">
							<a href="service.html" class="btn btn-info">View More <i class="fa fa-angle-right"></i></a>
						</div>
						<div class="view-button">
							<a href="#" class="btn btn-default">Try Now <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<!-- Box Outer Layer [ Box 4 ] -->
				<div class="box box-md pull-up-sm animated animation fadeInUp">
					<div class="box-content box-gallery padd-zero">
						<div class="img-details box-hover-black">
							<!-- Heading -->
							<h3>Old Fashion Car With Latest Engine</h3>
							<!-- Paragraph -->
							<p>On the other hand, we denounce with righteous in our power of choice isded and foresee the pain and trouble that are bound to ensue.</p>
							<!-- View Next Button -->
							<div class="view-button">
								<a href="portfolio.html" class="btn btn-danger">View More <i class="fa fa-angle-right"></i></a>
							</div>
						</div>
						<!-- Image -->
						<img src="/assets/nav1.jpg" class="img-responsive box-gallery-img" alt="">
					</div>
				</div>
			</div>
		</div>
		<!-- Box Second Row -->
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<!-- Box Outer Layer [ Box 5 ] -->
				<div class="box box-md br-black pull-up animated animation fadeInUp">
					<div class="pics" id="box-slider-one" style="overflow: hidden;">
						<!-- Images -->
						<img src="/assets/w1.jpg" class="img-responsive" alt="" style="position: absolute; opacity: 1; width: 448px; height: 214px; top: 0px; z-index: 4; left: -448px; display: none;">
						<img src="/assets/w2.jpg" class="img-responsive" alt="" style="position: absolute; opacity: 1; width: 448px; height: 214px; top: 0px; z-index: 4; left: -448px; display: none;">
						<img src="/assets/w3.jpg" class="img-responsive" alt="" style="position: absolute; z-index: 3; opacity: 1; display: block; width: 448px; height: 214px; left: 0px; top: 0px;">
					</div>
				</div>
			</div>
			<!-- Offset for column gap -->
			<div class="col-md-4 col-sm-6 col-md-offset-4">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6">
					<!-- Box Outer Layer [ Box 6 ] -->
						<div class="box box-md br-pink pull-up animated animation fadeInUp">
							<!-- Box Hover Effect -->
							<div class="box-hover box-hover-black">
								<!-- Hover Icon -->
								<span class="hover-icon">GO</span>
							</div>
							<!-- Box Link -->
							<a href="contact.html">
								<!-- Box Link Content -->
								<div class="box-content navigation">
									<!-- Box Icon -->
									<i class="fa fa-phone"></i>
									<!-- Box Title -->
									<span class="box-title">Contact Us</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
					<!-- Box Outer Layer [ Box 7 ] -->
						<div class="box box-md br-orange pull-up animated animation fadeInUp">
							<!-- Box Hover Effect -->
							<div class="box-hover box-hover-black">
								<!-- Hover Icon -->
								<span class="hover-icon">GO</span>
							</div>
							<!-- Box Link -->
							<a href="http://nytechpodcast.podbean.com/feed/">
								<!-- Box Link Content -->
								<div class="box-content navigation">
									<!-- Box Icon -->
									<i class="fa fa-gear"></i>
									<!-- Box Title -->
									<span class="box-title">Subscribe/RSS Feed</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Box Third Row -->
		<!-- <div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6">
						<!-- Box Outer Layer [ Box 8 ] *Need to comment out
						<div class="box box-md br-green animated animation fadeInUp">
							<!-- Box Hover Effect *Need to comment out
							<div class="box-hover box-hover-black">
								<!-- Hover Icon *Need to comment out
								<span class="hover-icon">GO</span>
							</div>
							<!-- Box Link *Need to comment out
							<a href="testimonial.html">
								<!-- Box Link Content *Need to comment out
								<div class="box-content navigation">
									<!-- Box Icon *Need to comment out
									<i class="fa fa-comments"></i>
									<!-- Box Title *Need to comment out
									<span class="box-title">Testimonial</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<!-- Box Outer Layer [ Box 9 ] *Need to comment out
						<div class="box box-md animated animation fadeInUp">
							<div class="box-content slide-up slide-down padd-zero box-team">
								<!-- Image *Need to comment out
								<img src="/assets/user.jpg" class="img-responsive box-team-img" alt="">
								<!-- Team Details *Need to comment out
								<div class="box-team-details movetoup box-hover-black">
									<!-- Heading *Need to comment out
									<h4>Merry Watson</h4>
									<span>PHP Developer</span>
									<!-- Social Media *Need to comment out
									<div class="social">
										<a href="#" class="my-tooltip" title="" data-placement="top" data-original-title="facebook"><i class="fa fa-facebook"></i></a>
										<a href="#" class="my-tooltip" title="" data-placement="top" data-original-title="twitter"><i class="fa fa-twitter"></i></a>
										<a href="#" class="my-tooltip" title="" data-placement="top" data-original-title="google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="#" class="my-tooltip" title="" data-placement="top" data-original-title="linkedin"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-6">
				<!-- Box Outer Layer [ Box 10 ] *Need to comment out
				<div class="box box-md br-lblue animated animation fadeInUp">
					<!-- Box CTA Block *Need to comment out
					<div class="box-content box-cta">
						<!-- Flat Icon *Need to comment out
						<img src="/assets/flat-icon/fi1.png" class="img-responsive" alt="">
						<!-- Box CTA Info *Need to comment out
						<div class="box-cta-info">
							<h4>Quick Service On the Note</h4>
							<p class="col-disable">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
							<!-- View Next Button *Need to comment out
							<div class="view-button">
								<a href="#" class="btn btn-danger">Try It Now <i class="fa fa-angle-right"></i></a>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- Box Fourth Row *Need to comment out
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<!-- Box Outer Layer [ Box 11 ] *Need to comment out
				<div class="box box-lg br-orange animated animation fadeInUp">
					<div class="box-content box-service-counter box-default">
						<!-- Heading *Need to comment out
						<h4><i class="fa fa-gears"></i> Services</h4>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-6">
								<!-- Service Counter Item *Need to comment out
								<div class="service-item">
									<!-- Counter Number *Need to comment out
									<span class="s-counter stop-counter" data-from="0" data-to="195" data-speed="2500" data-refresh-interval="100">195</span>
									<!-- Heading *Need to comment out
									<h3>Develops</h3>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6">
								<!-- Service Counter Item *Need to comment out
								<div class="service-item">
									<!-- Counter Number *Need to comment out
									<span class="s-counter stop-counter" data-from="0" data-to="175" data-speed="2500" data-refresh-interval="100">175</span>
									<!-- Heading *Need to comment out
									<h3>Network</h3>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6">
								<!-- Service Counter Item *Need to comment out
								<div class="service-item">
									<!-- Counter Number *Need to comment out
									<span class="s-counter stop-counter" data-from="0" data-to="180" data-speed="2500" data-refresh-interval="100">180</span>
									<!-- Heading *Need to comment out
									<h3>Design</h3>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6">
								<!-- Service Counter Item *Need to comment out
								<div class="service-item">
									<!-- Counter Number *Need to comment out
									<span class="s-counter stop-counter" data-from="0" data-to="190" data-speed="2500" data-refresh-interval="100">190</span>
									<!-- Heading *Need to comment out
									<h3>Coding</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<!-- Box Outer Layer [ Box 14 ] *Need to comment out
				<div class="box box-md br-red animated animation fadeInUp">
					<div class="box-content box-feature box-default">
						<!-- Heading *Need to comment out
						<h4><i class="fa fa-rocket"></i> Full Responsive</h4>
						<!-- Paragraph *Need to comment out
						<p>I must explain to you how all this mistaken idea born and I will give you a teachings of the great explorer of the truth expound the actual teachings .</p>
						<!-- View Next Button *Need to comment out
						<div class="view-button">
							<a href="#" class="btn btn-info">Buy Now <i class="fa fa-angle-right"></i></a>&nbsp;
							<a href="#" class="btn btn-default">Download <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6">
						<!-- Box Outer Layer [ Box 13 ] *Need to comment out
						<div class="box box-md br-yellow animated animation fadeInUp">
							<!-- Box Hover Effect *Need to comment out
							<div class="box-hover box-hover-black">
								<!-- Hover Icon *Need to comment out
								<span class="hover-icon">GO</span>
							</div>
							<!-- Box Link *Need to comment out
							<a href="pricing.html">
								<!-- Box Link Content *Need to comment out
								<div class="box-content navigation">
									<!-- Box Icon *Need to comment out
									<i class="fa fa-th-list"></i>
									<!-- Box Title *Need to comment out
									<span class="box-title">Pricing</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<!-- Box Outer Layer [ Box 12 ] *Need to comment out
						<div class="box box-md animated animation fadeInUp">
							<div class="box-content slide-up box-gallery padd-zero">
								<!-- Image *Need to comment out
								<img src="/assets/c1.jpg" class="img-responsive box-gallery-img" alt="">
								<!-- Image Gallery Caption *Need to comment out
								<div class="image-gallery-caption movetoup box-hover-black">
									<!-- Image Title / Heading *Need to comment out
									<h4>FORD MUSTANG</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Box Fifth Row *Need to comment out
		<div class="row">
			<div class="col-md-4 col-sm-6 col-md-offset-4">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6">
						<!-- Box Outer Layer [ Box 16 ] *Need to comment out
						<div class="box box-md pull-up animated animation fadeInUp">
							<div class="box-content slide-down box-gallery padd-zero">
								<!-- Image *Need to comment out
								<img src="/assets/c2.jpg" class="img-responsive box-gallery-img" alt="">
								<!-- Image Gallery Caption *Need to comment out
								<div class="image-gallery-caption movetodown box-hover-black">
									<!-- Image Title / Heading *Need to comment out
									<h4>MWE MERCIDES</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<!-- Box Outer Layer [ Box 17 ] *Need to comment out
						<div class="box box-md br-purple pull-up animated animation fadeInUp">
							<!-- Box Hover Effect *Need to comment out
							<div class="box-hover box-hover-black">
								<!-- Hover Icon *Need to comment out
								<span class="hover-icon">GO</span>
							</div>
							<!-- Box Link *Need to comment out
							<a href="gallery.html">
								<!-- Box Link Content *Need to comment out
								<div class="box-content navigation">
									<!-- Box Icon *Need to comment out
									<i class="fa fa-camera"></i>
									<!-- Box Title *Need to comment out
									<span class="box-title">Gallery</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<!-- Box Outer Layer [ Box 15 ] *Need to comment out
				<div class="box box-md br-blue pull-up animated animation fadeInUp">
					<div class="box-content box-login">
						<!-- Heading *Need to comment out
						<h4><i class="fa fa-sign-in"></i> User Login</h4>
						<!-- Sign in Form Start *Need to comment out
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<input type="text" class="form-control" id="username" placeholder="Username" mouseev="true" autocomplete="off" keyev="true" clickev="true" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); padding-right: 0px; background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat no-repeat;">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id="password" placeholder="Password" mouseev="true" autocomplete="off" keyev="true" clickev="true" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); padding-right: 0px; background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat no-repeat;">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-danger">Login</button>&nbsp;
								<button type="reset" class="btn btn-default">Reset</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Box Sixth Row *Need to comment out
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<!-- Box Outer Layer [ Box 18 ] *Need to comment out
				<div class="box box-lg br-lblue animated animation fadeInUp">
					<div class="box-content box-chart box-default">
						<!-- Heading *Need to comment out
						<h4><i class="fa fa-signal"></i> Report 2014</h4>
						<!-- Paragraph *Need to comment out
						<p>Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
						<!-- Plot Chart -*Need to comment out
						<div class="plot-chart" style="padding: 0px; position: relative;"><canvas class="flot-base" width="408" height="200" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 408px; height: 200px;"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div style="position: absolute; max-width: 34px; font-style: normal; font-variant: normal; font-weight: 400; font-size: 12px; line-height: 14px; font-family: 'Open Sans', sans-serif; color: rgb(255, 255, 255); top: 186px; left: 21px; text-align: center;">0</div><div style="position: absolute; max-width: 34px; font-style: normal; font-variant: normal; font-weight: 400; font-size: 12px; line-height: 14px; font-family: 'Open Sans', sans-serif; color: rgb(255, 255, 255); top: 186px; left: 55px; text-align: center;">1</div><div style="position: absolute; max-width: 34px; font-style: normal; font-variant: normal; font-weight: 400; font-size: 12px; line-height: 14px; font-family: 'Open Sans', sans-serif; color: rgb(255, 255, 255); top: 186px; left: 89px; text-align: center;">2</div><div style="position: absolute; max-width: 34px; font-style: normal; font-variant: normal; font-weight: 400; font-size: 12px; line-height: 14px; font-family: 'Open Sans', sans-serif; color: rgb(255, 255, 255); top: 186px; left: 123px; text-align: center;">3</div><div style="position: absolute; max-width: 34px; font-style: normal; font-variant: normal; font-weight: 400; font-size: 12px; line-height: 14px; font-family: 'Open Sans', sans-serif; color: rgb(255, 255, 255); top: 186px; left: 157px; text-align: center;">4</div><div style="position: absolute; max-width: 34px; font-style: normal; font-variant: normal; font-weight: 400; font-size: 12px; line-height: 14px; font-family: 'Open Sans', sans-serif; color: rgb(255, 255, 255); top: 186px; left: 191px; text-align: center;">5</div><div style="position: absolute; max-width: 34px; font-style: normal; font-variant: normal; font-weight: 400; font-size: 12px; line-height: 14px; font-family: 'Open Sans', sans-serif; color: rgb(255, 255, 255); top: 186px; left: 226px; text-align: center;">6</div><div style="position: absolute; max-width: 34px; font-style: normal; font-variant: normal; font-weight: 400; font-size: 12px; line-height: 14px; font-family: 'Open Sans', sans-serif; color: rgb(255, 255, 255); top: 186px; left: 260px; text-align: center;">7</div><div style="position: absolute; max-width: 34px; font-style: normal; font-variant: normal; font-weight: 400; font-size: 12px; line-height: 14px; font-family: 'Open Sans', sans-serif; color: rgb(255, 255, 255); top: 186px; left: 294px; text-align: center;">8</div><div style="position: absolute; max-width: 34px; font-style: normal; font-variant: normal; font-weight: 400; font-size: 12px; line-height: 14px; font-family: 'Open Sans', sans-serif; color: rgb(255, 255, 255); top: 186px; left: 328px; text-align: center;">9</div><div style="position: absolute; max-width: 34px; font-style: normal; font-variant: normal; font-weight: 400; font-size: 12px; line-height: 14px; font-family: 'Open Sans', sans-serif; color: rgb(255, 255, 255); top: 186px; left: 359px; text-align: center;">10</div><div style="position: absolute; max-width: 34px; font-style: normal; font-variant: normal; font-weight: 400; font-size: 12px; line-height: 14px; font-family: 'Open Sans', sans-serif; color: rgb(255, 255, 255); top: 186px; left: 393px; text-align: center;">11</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div style="position: absolute; font-style: normal; font-variant: normal; font-weight: 400; font-size: 12px; line-height: 14px; font-family: 'Open Sans', sans-serif; color: rgb(255, 255, 255); top: 169px; left: 7px; text-align: right;">0</div><div style="position: absolute; font-style: normal; font-variant: normal; font-weight: 400; font-size: 12px; line-height: 14px; font-family: 'Open Sans', sans-serif; color: rgb(255, 255, 255); top: 135px; left: 7px; text-align: right;">2</div><div style="position: absolute; font-style: normal; font-variant: normal; font-weight: 400; font-size: 12px; line-height: 14px; font-family: 'Open Sans', sans-serif; color: rgb(255, 255, 255); top: 102px; left: 7px; text-align: right;">4</div><div style="position: absolute; font-style: normal; font-variant: normal; font-weight: 400; font-size: 12px; line-height: 14px; font-family: 'Open Sans', sans-serif; color: rgb(255, 255, 255); top: 68px; left: 7px; text-align: right;">6</div><div style="position: absolute; font-style: normal; font-variant: normal; font-weight: 400; font-size: 12px; line-height: 14px; font-family: 'Open Sans', sans-serif; color: rgb(255, 255, 255); top: 35px; left: 7px; text-align: right;">8</div><div style="position: absolute; font-style: normal; font-variant: normal; font-weight: 400; font-size: 12px; line-height: 14px; font-family: 'Open Sans', sans-serif; color: rgb(255, 255, 255); top: 1px; left: 0px; text-align: right;">10</div></div></div><canvas class="flot-overlay" width="408" height="200" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 408px; height: 200px;"></canvas><div class="legend"><table style="position:absolute;top:13px;right:13px;;font-size:smaller;color:#fff"><tbody><tr><td class="legendColorBox"><div style="border:1px solid null;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(255,255,255);overflow:hidden"></div></div></td><td class="legendLabel">Revenue</td></tr></tbody></table></div></div>
						<!-- View Next Button *Need to comment out
						<div class="view-button">
							<a href="feature.html" class="btn btn-danger">See More <i class="fa fa-angle-right"></i></a>
						</div>
						<div class="view-button">
							<a href="feature.html" class="btn btn-default">View Chart <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<!-- Box Outer Layer [ Box 19 ] *Need to comment out
				<div class="box box-md br-pink animated animation fadeInUp">
					<div class="box-content padd-zero box-testimonial">
						<div id="carousel-example-generic-testimonial" class="carousel testimonial slide" data-ride="carousel">

							<!-- Wrapper for slides *Need to comment out
							<div class="carousel-inner">
								<div class="item active">
									<img src="/assets/transparent-md.png" class="img-responsive item-back" alt="">
									<div class="carousel-caption">
										<!-- Image -->
										<!-- Heading *Need to comment out
										<h3><img src="/assets/user.jpg" class="img-responsive" alt="">Merry Watson</h3>
										<blockquote>
											<p>Vero eos et accusamus et iusto odio dignissimos duci is mus qui similique sunt in culpa blanditiis praesentium voluptatum deleniti.</p>
										</blockquote>
									</div>
								</div>
								<div class="item">
									<img src="/assets/transparent-md.png" class="img-responsive item-back" alt="">
									<div class="carousel-caption">
										<!-- Image -->
										<!-- Heading *Need to comment out
										<h3><img src="/assets/user.jpg" class="img-responsive" alt="">Jonny Walker</h3>
										<blockquote>
											<p>Vero eos et accusamus et iusto odio dignissimos duci is mus qui similique sunt in culpa blanditiis praesentium voluptatum deleniti.</p>
										</blockquote>
									</div>
								</div>
								<div class="item">
									<img src="/assets/transparent-md.png" class="img-responsive item-back" alt="">
									<div class="carousel-caption">
										<!-- Image -->
										<!-- Heading *Need to comment out
										<h3><img src="/assets/user.jpg" class="img-responsive" alt="">Den Perkily</h3>
										<blockquote>
											<p>Vero eos et accusamus et iusto odio dignissimos duci is mus qui similique sunt in culpa blanditiis praesentium voluptatum deleniti.</p>
										</blockquote>
									</div>
								</div>
							</div>

							<!-- Controls *Need to comment out	
							<a class="left c-control" href="#carousel-example-generic-testimonial" data-slide="prev">
								<span class="fa fa-angle-left"></span>
							</a>
							<a class="right c-control" href="#carousel-example-generic-testimonial" data-slide="next">
								<span class="fa fa-angle-right"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<!-- Box Outer Layer [ Box 20 ] *Need to comment out
				<div class="box box-lg animated animation fadeInUp">
					<div class="box-content slide-up box-gallery padd-zero">
						<!-- Image *Need to comment out
						<img src="/assets/c3.jpg" class="img-responsive box-gallery-img" alt="">
						<!-- Image Gallery Caption *Need to comment out
						<div class="image-gallery-caption movetoup box-hover-black">
							<!-- Image Title / Heading *Need to comment out
							<h4>Golden Kodak</h4>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas ctio.</p>
							<a href="portfolio.html" class="btn btn-danger">View more <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Box Seventh Row *Need to comment out
		<div class="row">
			<div class="col-md-4 col-sm-6 col-md-offset-4">
				<!-- Box Outer Layer [ Box 21 ] *Need to comment out
				<div class="box box-md br-green pull-up pull-up-sm animated animation fadeInUp">
					<div class="box-content box-subscribe box-default">
						<!-- Heading *Need to comment out
						<h4><i class="fa fa-bullhorn"></i> Join Us Today</h4>
						<!-- Paragraph *Need to comment out
						<p>Similitude stunt in culpa-er quietus dolorous.</p>
						<!-- Subscribe Form *Need to comment out
						<form>
							<div class="input-group">
								<!-- form input *Need to comment out
								<input type="text" class="form-control" placeholder="Type your email">
								<span class="input-group-btn">
									<!-- join button *Need to comment out
									<button class="btn btn-danger" type="button"><i class="fa fa-envelope"></i></button>
								</span>
							</div>
						</form>
						<!-- Social Media *Need to comment out
						<div class="social">
							<a href="#" class="my-tooltip" data-placement="right" data-original-title="facebook"><i class="fa fa-facebook"></i></a>
							<a href="#" class="my-tooltip" data-placement="right" data-original-title="twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="my-tooltip" data-placement="right" data-original-title="google-plus"><i class="fa fa-google-plus"></i></a>
							<a href="#" class="my-tooltip" data-placement="right" data-original-title="linkedin"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Box Eight Row *Need to comment out
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<!-- Box Outer Layer [ Box 22 ] *Need to comment out
				<div class="box box-md br-purple animated animation fadeInUp">
					<div class="box-content box-pricing box-default">
						<!-- Heading *Need to comment out
						<h4><i class="fa fa-tags"></i> Basic Plan <span class="price">$99/m</span></h4>
						<!-- Plan Details *Need to comment out
						<div class="pricing-details">
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-6">
									<ul class="list-unstyled">
										<li><i class="fa fa-check"></i> 500 bandwidth</li>
										<li><i class="fa fa-check"></i> 10 database</li>
									</ul>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6">
									<ul class="list-unstyled">
										<li><i class="fa fa-check"></i> 200GB Storage</li>
										<li><i class="fa fa-check"></i> FTP software</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- View Button *Need to comment out
						<div class="view-button">
							<a href="#" class="btn btn-danger">Buy Now <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<!-- Box Outer Layer [ Box 22 ] *Need to comment out
				<div class="box box-md br-orange animated animation fadeInUp">
					<div class="box-content box-pricing box-default">
						<!-- Heading *Need to comment out
						<h4><i class="fa fa-tags"></i> Premium Plan <span class="price">$199/m</span></h4>
						<!-- Plan Details *Need to comment out
						<div class="pricing-details">
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-6">
									<ul class="list-unstyled">
										<li><i class="fa fa-check"></i> Full bandwidth</li>
										<li><i class="fa fa-check"></i> 100 database</li>
									</ul>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6">
									<ul class="list-unstyled">
										<li><i class="fa fa-check"></i> 1TB Storage</li>
										<li><i class="fa fa-check"></i> FTP software</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- View Button *Need to comment out
						<div class="view-button">
							<a href="#" class="btn btn-black">Buy Now <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				 Box Outer Layer [ Box 23 ] *Need to comment out
				<div class="box box-md br-lblue animated animation fadeInUp">
					<div class="box-content box-quote">
						Quotes *Need to comment out
						<span class="box-quote-icon">“</span>
						 Paragraph *Need to comment out
						<p>Sed ut persp iciatis undeuiew omnis iste natus error sitertw volup tatem accus antium ouew dolor emque.</p>
						<span class="meta pull-right">- John Doe</span>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->

<!-- Footer Start -->



<!-- Footer End -->

