<!-- Footer Start -->

<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<!-- Footer Widget -->
				<div class="footer-widget">
					<!-- Logo Icon -->
					<!-- Heading -->
					<h2><a href="index.html"> NY Tech Podcast</a></h2>
					<!-- Paragraph -->
					<p><a id="contact">Weekly episodes talking to founders and developers about their businesses and ideas. </a></p>
					<!-- Social Media -->
					<div class="social"><!-- 
						<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
						<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a> -->
						<a href="https://twitter.com/nytechpodcast" class="twitter"><i class="fa fa-twitter"></i></a>
						<a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a> 
						<a href="https://www.linkedin.com/pub/mike-sabat/3/870/643" class="linkedin"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<!-- Footer Widget -->
				<div class="footer-widget">
					<!-- Heading -->
					<h5><i class="fa fa-plus br-red"></i> Navigation Menu</h5>
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<!-- Menu Icons link -->
							<ul class="list-unstyled">
								<li><a href="#"><i class="fa fa-home br-red"></i> Home</a></li>
								<li><a href="#"><i class="fa fa-book br-yellow"></i> All Episodes</a></li>
								<!-- <li><a href="#contact"><i class="fa fa-phone br-green"></i> Contact Us</a></li>
								<li><a href="#"><i class="fa fa-gear br-lblue"></i> Service</a></li>
								<li><a href="#"><i class="fa fa-comment br-purple"></i> Testimonial</a></li> -->
							</ul>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<!-- Menu Icons link -->
							<ul class="list-unstyled">
								<!-- <li><a href="#"><i class="fa fa-check br-green"></i> Features</a></li> -->
								<li><a href="#"><i class="fa fa-search br-pink"></i> Most Recent</a></li>
								<li><a href="#"><i class="fa fa-user br-orange"></i> About </a></li>
								<!-- <li><a href="#"><i class="fa fa-sign-in br-red"></i> Register</a></li>
								<li><a href="#"><i class="fa fa-file br-blue"></i> Recent News</a></li> -->
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix visible-sm"></div>
			<div class="col-md-3 col-sm-6">
				<!-- Footer Widget -->
				<div class="footer-widget">
					<!-- Heading -->
					<h5><i class="fa fa-map-marker br-yellow"></i> Contact Us</h5>
					<address>
						<i class="fa fa-home br-green"></i> 88th Street and E End Ave,  <br>
						&nbsp; &nbsp; &nbsp; &nbsp; New York, NY 10028  <br>
						<!-- &nbsp; &nbsp; &nbsp; &nbsp; Bangalore - 234543 <br> -->
						<!-- <span><i class="fa fa-phone br-orange"></i> +91 123-456-2345</span> -->
						<span><i class="fa fa-envelope-o br-blue"></i> <a href="#">abc@example.com</a></span>
					</address>
				</div>
			</div>
			<!-- <div class="col-md-3 col-sm-6"> -->
				<!-- Footer Widget -->
				<!-- <div class="footer-widget"> -->
					<!-- Heading -->
					<!-- <h5><i class="fa fa-location-arrow br-lblue"></i> Location</h5> -->
					<!-- Google Map -->
					<!-- <div class="map"> -->
						<!-- Image -->
						<!-- <img src="/assets/map.png" class="img-responsive" alt=""> -->
						<!-- Map Marker -->
						<!-- <i class="fa fa-map-marker marker india lblue"></i>
						<i class="fa fa-map-marker marker usa orange"></i>
						<i class="fa fa-map-marker marker africa green"></i>
					</div>
					<span class="location-name">
						<i class="fa fa-map-marker br-lblue"></i> India &nbsp;&nbsp;
						<i class="fa fa-map-marker br-orange"></i> USA &nbsp;&nbsp;
						<i class="fa fa-map-marker br-green"></i> Africa
					</span>
				</div>
			</div>
		</div> -->
		<!-- Footer Copyright -->
		<div class="footer-copyright">
			<p>© Copyright 2014 <a href="#">NY Tech Podcast</a></p>
		</div>
	</div>
</div>

<!-- Footer End -->

<!-- Footer End -->

<!-- Scroll to top -->
<span class="totop" style="display: none;"><a href="#"><i class="fa fa-angle-up"></i></a></span>
<script type="text/javascript">

// SLIDER REVOLUTION Java Script
	jQuery(document).ready(function() {
		   jQuery('.tp-banner').revolution(
			{
				delay:9000,
				startheight:500,
				
				hideThumbs:10,
				
				navigationType:"none",	
				
				
				hideArrowsOnMobile:"on",
				
				touchenabled:"on",
				onHoverStop:"on",
				
				navOffsetHorizontal:0,
				navOffsetVertical:20,
				
				stopAtSlide:-1,
				stopAfterLoops:-1,

				shadow:0,
				
				fullWidth:"on",
				fullScreen:"off"
			});
	});

// Cycle Slide Js 

	$('#box-slider-one').cycle({ 
		fx:    'uncover',  
		speed:    200, 
		timeout:  2500 
	});

/* ******************************************** */
/* plot js */
/* *************************************** */  
		
	$(function() {
		/* Chart data #1 */
		var d1 = [[0, 0], [1, 1.5], [2, 3.2], [3, 4.1],[4, 5.1], [5, 5], [6, 5.3], [7, 6],[8, 6.3], [9, 7], [10, 7.5], [11, 8]];

		var options = {
			series: {
			  lines: {
				 show: true, fill: false, lineWidth:1
			  },
			  points: {
				 show: true, fill: true, lineWidth:2, radius:3, fillColor: "#fff"
			  },
			  shadowSize: 0
		   },
			colors :["#fff"],
		   grid: {
			  hoverable: true, color: "#fff", backgroundColor:null ,borderWidth:0, borderColor:"#fff", labelMargin:10
		   },
		   xaxis: {
			  ticks: 10,
			  font: {
					size: 12,
					color: ["#fff"]
				}
		   },
		   yaxis: {
			  ticks: 5,
			  font: {
					size: 12,
					color: ["#fff"]
				}
		   }, 
		   legend: {
			  backgroundOpacity:0,
			  noColumns:2,
			  labelBoxBorderColor: null
		   }
		};
		
		$("<div id='tooltip'></div>").css({
			position: "absolute",
			display: "none",
			"border-radius":"1px",
			padding: "4px 5px",
			color:"#999",
			"font-size":"11px",
			"background-color": "#fff",
			"border":"1px solid #ccc",
			"z-index": "20"
		}).appendTo("body");

		$(".plot-chart").bind("plothover", function (event, pos, item) {
				if (item) {
					var x = item.datapoint[0].toFixed(2),
						y = item.datapoint[1].toFixed(2);

					$("#tooltip").html(x + ", " + y)
						.css({top: item.pageY+5, left: item.pageX+5})
						.fadeIn(200);
				} else {
					$("#tooltip").hide();
				}
		});

		// $.plot(".plot-chart", [ {data: d1,  label: "Revenue"} ], options);
	});
	
// Type your codde here
</script>

<div id="tooltip" style="position: absolute; display: none; border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px; padding: 4px 5px; color: rgb(153, 153, 153); font-size: 11px; background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); z-index: 20;"></div><script id="hiddenlpsubmitdiv" style="display: none;"></script><script>try{for(var lastpass_iter=0; lastpass_iter < document.forms.length; lastpass_iter++){ var lastpass_f = document.forms[lastpass_iter]; if(typeof(lastpass_f.lpsubmitorig2)=="undefined"){ lastpass_f.lpsubmitorig2 = lastpass_f.submit; lastpass_f.submit = function(){ var form=this; var customEvent = document.createEvent("Event"); customEvent.initEvent("lpCustomEvent", true, true); var d = document.getElementById("hiddenlpsubmitdiv"); if (d) {for(var i = 0; i < document.forms.length; i++){ if(document.forms[i]==form){ d.innerText=i; } } d.dispatchEvent(customEvent); }form.lpsubmitorig2(); } } }}catch(e){}</script>